{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "no-cond-assign": ["error", "always"],
        "no-console": "off"
    },
    "globals": {
        "Promise": true,
        "describe": true,
        "expect": true,
        "it": true,
        "beforeAll": true,
        "beforeEach": true,
        "afterEach": true,
        "jest": true
    }
}
